{{ define "header" }}
{{ partial "navbar" }}
{{ end }}

{{ define "main" }}
<main class="flex">
    <section id="body">
        {{ $currentNode := . }}
        {{ $showvisitedlinks := .Site.Params.showVisitedLinks }}
        <nav id="sidebar" class="{{if $.Site.Params.showVisitedLinks }}showVisitedLinks{{end}}">
            <div class="highlightable ps-container ps-theme-default">
                <ul
                    class="introduction  {{if eq (printf `accelerators/%s` .Section) (trim .CurrentSection.RelPermalink `/`)}}active{{end}}">
                    <a href='/accelerators/{{ .Section }}'>
                        <i class='fas fa-rocket'></i> Introduction
                    </a>
                </ul>
                <ul class="topics">
                    {{ if not (eq (printf "accelerators/%s" .Section) (trim .CurrentSection.RelPermalink "/"))}}
                    {{range .Parent.Pages.ByWeight}}
                    {{ if not (eq .Params.Title "Introduction") }}
                    {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks"
                    $showvisitedlinks}}
                    {{ end }}
                    {{ end }}
                    {{ end }}

                    {{range .Sections.ByWeight}}
                    {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks"
                    $showvisitedlinks}}
                    {{ end }}
                </ul>
            </div>
            {{ $disableShortcutsTitle := .Site.Params.DisableShortcutsTitle}}
            {{with .Site.Menus.shortcuts}}
            <section id="shortcuts">
                <h3>{{ if not $disableShortcutsTitle}}{{ T "Shortcuts-Title"}}{{ end }}</h3>
                <ul>
                    {{ range sort . "Weight"}}
                    <li>
                        {{.Pre}}<a class="padding" href="{{.URL | absLangURL }}">{{safeHTML .Name}}</a>{{.Post}}
                    </li>
                    {{end}}
                </ul>
            </section>
            {{end}}
        </nav>
        <div class="padding highlightable">
            <section id="body-inner">
                {{ .Content }}
            </section>
        </div>
        </div>
</main>
{{ end }}

{{ define "footer" }}
{{ partial "footer" }}
{{ end }}