<footer class="footer">
    Copyright &copy; 2022-present Snowplow Analytics Ltd. All rights reserved. This accelerator is licensed to you under
    the
    <a href="https://docs.snowplow.io/community-license-1.0" title="Snowplow Community License, Version 1.0">Snowplow
        Community License, Version 1.0</a>
    , and you may not use this accelerator except in compliance with the
    <a href="https://docs.snowplow.io/community-license-1.0" title="Snowplow Community License, Version 1.0">Snowplow
        Community License, Version 1.0.</a>
</footer>